@import url('https://fonts.googleapis.com/css2?family=Karla&family=Space+Grotesk&display=swap');

/* https://colorhunt.co/palette/fff8ea9e7676815b5b594545 the color pallete used */

body {
    margin: 0 auto;
    height: 100vh;
    background-color: #815B5B;
    justify-content: center;
    align-items: center;
    color: #FFF8EA;
    font-family: 'Karla', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

nav {
    background-color: #594545;
    padding: 10px;
    text-align: center;
}

.mainContainer {
    position: relative;
    place-items: center;
    width: 90%;
    margin: auto;
}

.popUp {
    width: inherit;
    height: inherit;
    display: grid;
    place-items: center;
    position: absolute;
    background-color: #594545;
    border-radius: 10px;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px 0;
}

.board div {
    background-color: #594545;
}

.dices {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

.dices img {
    width: 100px;
    height: 100px;
}
