@import url('https://fonts.googleapis.com/css2?family=Karla&family=Space+Grotesk&display=swap');

/* https://colorhunt.co/palette/fff8ea9e7676815b5b594545 the color pallete used */

body {
    margin: 0 auto;
    min-height: 100vh;
    background: url(../images/body.jpg);
    justify-content: center;
    align-items: center;
    color: #FFF8EA;
    font-family: 'Karla', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

nav {
    background-color: #594545;
    padding: 10px;
    text-align: center;
}

.title {
    padding: 10px;
    font-size: 90px;
    background-color: #594545;
    border: #815B5B double 10px;
    border-radius: 10px;
}

.title h1 {
    margin: 0;
}

.mainContainer {
    place-items: center;
    width: 90%;
    margin: auto;
}

.popUp {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: #594545;
    background: url(../images/popUp.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px 0;
}

.board div {
    background-color: #594545;
}

.dices {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}

.dices img {
    width: 100px;
    height: 100px;
}
