@import url('https://fonts.googleapis.com/css2?family=Karla&family=Space+Grotesk&display=swap');

/* https://colorhunt.co/palette/fff8ea9e7676815b5b594545 the color pallete used */

body {
    margin: 0 auto;
    height: 100vh;
    background-color: #815B5B;
    justify-content: center;
    align-items: center;
    color: #FFF8EA;
    font-family: 'Karla', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

main {
    /* background-image: url("../images/patricks_house.png"); */
    position: relative;
    display: grid;
    place-items: center;
    width: 90%;
    margin: auto;
    padding: 20px;
}